%h1 Listing expenses

%p
  Total: #{number_to_currency @total}

%p= link_to 'New Expense', new_expense_path, class: "button"

%table.expenses
  %tr
    %th Name
    %th Amount
    %th Date
    %th.description Description
  - @expenses.each do |expense|
    %tr
      %td= link_to expense.name, [:edit, expense]
      %td= number_to_currency expense.amount
      %td= expense.date
      %td.description= expense.description

