!!!
<html lang="en" #{raw "manifest='/application.manifest'" if include_manifest?}>
%head
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
  %title= content_for?(:title) ? yield(:title) : "Untitled"
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = yield(:head)
  = csrf_meta_tags
%body{id: "#{controller_name}_controller", class: "#{params[:action]}_action"}
  - if Rails.env.development?
    / Brian is a spaz and keeps entering real info in dev server
    .alert-box.alert
      You're in development.
      %a.close{:href => ""} &times;
  .row
    .twelve.columns
      = yield
